body {
    font-family: "Nunito";
    margin: 0;
}

.section-container {
    display: flex;
    flex-wrap: wrap;
    height: 95vh;
}

.absences,
.planned-activities,
.news-feed,
.finance-report {
    height: 50%;
    min-width: 320px;
    padding: 0.75rem;
}

.absences,
.planned-activities {
    width: 34%;
    border-right: #c1daeb 0.1em solid;
}

.news-feed,
.finance-report {
    width: 66%;
}

.absences,
.news-feed {
    border-bottom: #c1daeb 0.1em solid;
}


/* Absences section */

.absences-header {
    height: 10%;
    font-size: 110%;
}

.absences-events {
    height: 90%;
    font-size: 90%;
    margin-left:.5rem;
}

.absences-events-full {
    height: 70%;
}

.absences-event-full {
    display: flex;
    border-left: #408ec2 1px solid;
    height: auto;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
}

.absence-smaller-font {
    font-size: 80%;
}

.absences-event-time {
    margin-right: 0.5rem;
}

.absences-events-short {
    height: 30%;
}

.absences-event-short {
    border-left: #b55fc9 1px solid;
    height: auto;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
}


/* News-feed section */

.news-feed-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
}

.news-feed-header-forecast {
    display: flex;
    align-items: center;
}

.img-weather {
    width: 2.5vw;
    height: 2.5vw;
    margin-right: .5rem;
}

.news-feed-header-date {
    font-size: 125%;
}

.news-feed-main {
    width: 100%;
    height: 90%;
    display: flex;
}

.news-feed-main-twitter {
    width: 50%;
    margin-left: 0.5rem;
    padding-right: 4rem;
}

.twitter-account {
    margin-top: 1.25rem;
}

.twitter-account-date {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.twitter-account-post {
    display: flex;
    font-size: 75%;
    line-height: 1;
}

.twitter-icon {
    margin-right: 1rem;
}

.img-responsive {
    width: 1.725vw;
    height: 1.425vw;
}

.news-feed-main-news {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.news-post-container {
    border: #1a202c .1vw solid;
    width: 47%;
}

.img-news-cover {
    width: 100%;
    height: auto;
}

.news-post-short {
    height: 90%;
}

.news-post {
    width: 100%;
    height: 40%;
    font-size: 85%;
    padding: .5rem;
}

.news-post-author {
    display: flex;
    align-items: center;
    margin-bottom: .3rem;
}

.img-news-author {
    width: 3vw;
    height: 3vw;
    margin-right: .5rem;
}

.news-post-content {
    line-height: 1.2;
    width: 100%;
    -ms-overflow-y: hidden;
    overflow-y: hidden;
}

.news-post-content-short {
    height: 50%;
}

.news-post-content-full {
    height: 100%;
}


/* Planned activities section */

.planned-activities-header {
    height: 10%;
    font-size: 110%;
}

.planned-activities-list {
    height: 77%;
    margin-left: 1rem;
    padding-right: 5rem;
}

.planned-activity {
    display: flex;
    margin-top: .75rem;
    font-size: 100%;
}

.planned-activity-date {
    margin-right: .5rem;
}

.occasions {
    font-size: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


/* Finance report section */

.finance-report-header {
    font-size: 110%;
}

.finance-report-data {
    display: flex;
}

.chart-groups {
    display: flex;
    align-items: center;
}

.img-arrow {
    width: 3vw;
    height: 3vw;
}

.img-arrow-flipped {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

/* Infinite footer loop animation */

#outer {
    overflow: hidden;
    height: 5vh;
    border-top: #828282 0.1em solid;
    border-bottom: #828282 0.1em solid;
    display : flex;
    align-items : center;
}

#outer div {
    display: inline-block;
}

#content {
    height: 100%;
    vertical-align: middle;
}

#loop {
    white-space: nowrap;
    animation: loop-anim 10s linear infinite;
}

@keyframes loop-anim {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -22%;
        /* This works because of the div between "outer" and "loop" */
    }
}
