body {
    font-family: "Nunito";
    margin: 0;
}

.section-container {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.sections-header {
    font-size: 120%;
    font-weight: bold;
}

.absences,
.planned-activities,
.news-feed,
.finance-report {
    border-bottom: #c1daeb 0.1em solid;
    height: auto;
}

/* Absences section */

.absences-event {
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
    height: auto;
}

.absence-smaller-font {
    font-size: 80%;
}

.absences-event-time {
    margin-right: 0.5rem;
}

.absences-event-full {
    display: flex;
    border-left: #408ec2 1px solid;
}

.absences-events-short {
    height: 30%;
}

.absences-event-short {
    border-left: #b55fc9 1px solid;
}

/* News feed section */

.news-feed-main-news {
    display: flex;
}

.news-feed-header {
    display: flex;
    flex-direction: column-reverse;
    height: 10%;
}

.news-feed-main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.img-weather {
    width: 2.5vw;
    height: 2.5vw;
    margin-right: 0.5rem;
}

.img-news-cover {
    width: 100%;
    height: auto;
}

.news-feed-header-forecast {
    display: flex;
    align-items: center;
    font-weight: normal;
}

.news-feed-header-date {
    font-weight: bold;
}

.forecast-details {
    display: flex;
}

.news-feed-main-twitter {
    margin-bottom: 0.5rem;
}

.twitter-account {
    margin-top: 1.25rem;
}

.twitter-account-date {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.twitter-account-post {
    display: flex;
    line-height: 1.2;
}

.twitter-icon {
    margin-right: 1rem;
}

.img-responsive {
    width: 5.175vw;
    height: 4.275vw;
}

.news-post-container {
    width: 100%;
}

.news-post {
    width: 100%;
    height: 50%;
}

.news-post-short {
    height: 90%;
}

.news-post-header {
    margin-bottom: 0.3rem;
}

.news-post-title {
    line-height: 1.1;
    font-weight: bold;
}

.news-post-date {
    margin-left: 0.4rem;
}

.news-post-content {
    line-height: 1;
    width: 100%;
}

.news-post-container-short {
    max-height: 40%;
}

.news-post-container-full {
    max-height: 50%;
}

/* Planned activities section */

.planned-activities-header {
    height: 10%;
}

.planned-activities-list {
    height: 77%;
    font-size: 85%;
    margin-left: 1rem;
}

.planned-activity {
    display: flex;
    margin-top: 0.75rem;
    font-size: 100%;
}

.planned-activity-date {
    margin-right: 0.5rem;
}

.occasions {
    font-size: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* Finance report section */

.finance-report-data {
    display: flex;
}

.finance-report-charts {
    display: flex;
    align-items: center;
}

.img-arrow {
    width: 3vw;
    height: 3vw;
}

.img-arrow-flipped {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

/* RESPONSIVE */

@media (max-width: 425px) {
    /* News feed section */

    .news-feed-main-news {
        flex-direction: column;
    }
}

@media (min-width: 426px) and (max-width: 767px) {
    /* News feed section */

    .news-post-container {
        margin: 3%;
    }

    .img-news-cover {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 768px) {
    .section-container {
        -ms-flex-direction: row;
        flex-direction: row;
        flex-wrap: wrap;
        height: 95vh;
    }

    .sections-header {
        font-weight: normal;
    }

    .absences,
    .planned-activities,
    .news-feed,
    .finance-report {
        height: 50%;
        padding: 0.5rem;
        border-bottom: none;
    }

    .absences,
    .planned-activities {
        width: 34%;
        border-right: #c1daeb 0.1em solid;
    }

    .news-feed,
    .finance-report {
        width: 66%;
    }

    .absences,
    .news-feed {
        border-bottom: #c1daeb 0.1em solid;
    }

    /* Absences section */

    .absences-header {
        height: 10%;
    }

    .absences-events {
        height: 90%;
        font-size: 70%;
        margin-left: 0.5rem;
    }

    .absences-events-full {
        height: 70%;
    }

    /* News feed section */

    .news-feed-header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .news-feed-header-date {
        font-size: 140%;
    }

    .news-feed-main {
        height: 90%;
        flex-direction: row;
    }

    .news-feed-main-twitter {
        width: 55%;
        margin-bottom: 0;
        margin-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .twitter-account {
        margin-top: 0.25rem;
        font-size: 70%;
    }

    .twitter-account-date {
        font-weight: bold;
        margin-bottom: 0;
    }

    .twitter-account-post {
        display: flex;
        line-height: 1.2;
    }

    .twitter-icon {
        margin-right: 0.5rem;
    }

    .img-responsive {
        width: 1.725vw;
        height: 1.425vw;
    }

    .news-feed-main-news {
        width: 45%;
        height: 100%;
        justify-content: space-between;
    }

    .news-post-container {
        border: #1a202c 0.1vw solid;
        width: 48%;
    }

    .news-post-short {
        height: 90%;
    }

    .news-post {
        font-size: 70%;
        padding: 0.5rem;
    }

    .news-post-header {
        margin-bottom: 0.3rem;
    }

    .news-post-title {
        line-height: 1.1;
        font-weight: bold;
    }

    .news-post-date {
        margin-left: 0.4rem;
    }

    .news-post-content {
        line-height: 1;
        width: 100%;
        position: relative;
        -ms-overflow-y: hidden;
        overflow-y: hidden;
    }

    .news-post-container-short {
        max-height: 40%;
    }

    .news-post-container-full {
        max-height: 50%;
    }

    /* Planned activities section */

    .planned-activities-list {
        margin-left: 1rem;
    }

    .planned-activity {
        margin-top: 0.25rem;
        font-size: 70%;
    }

    .occasions {
        font-size: 60%;
    }

    @media (min-width: 1025px) {
        /* News feed section */

        .news-feed-main-twitter {
            width: 50%;
            padding-right: 1rem;
        }

        .twitter-icon {
            margin-right: 1rem;
        }

        .news-feed-main-news {
            width: 50%;
        }

        .news-post-container {
            width: 45%;
        }

        /* Planned activities section */

        .planned-activities-list {
            font-size: 85%;
            padding-right: 3.5rem;
        }

        .planned-activity {
            margin-top: 0.75rem;
            font-size: 100%;
        }

        .occasions {
            font-size: 80%;
        }
    }
}
